.navbar {
    margin-bottom: 20px;
}

.view-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

h1{
    text-align: center;
}

.searchbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.card {
    margin: 5px;
}