.navbar {
    margin-bottom: 20px;
}

.view-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.table {
    margin: 15px;
}

h4 {
    text-align: center;
}