<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/home.css}">
<head>
    <meta charset="UTF-8">
    <title>Music library</title>
</head>
<body>
<div>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/}">youTrack</a>
    </nav>
    <div class="container view-container">
        <h1>Music library</h1>
        <div class="card w-75 searchbar">
            <div class="card-body">
                <h5 class="card-title">Search for tracks</h5>
                <form class="form-inline" action="#" th:action="@{search/(query='searchterm')}">
                    <input class="form-control mr-sm-2" type="search" th:name="searchterm" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container card-container">
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
            <div class="card-header">Random artists</div>
            <div class="card-body">
                <p class="card-text" th:each="artist:${artists}" th:text="${artist.getArtistName()}"></p>
            </div>
        </div>
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
            <div class="card-header">Random songs</div>
            <div class="card-body" >
                <p class="card-text" th:each="track:${tracks}" th:text="${track.getTrackName()}"></p>
            </div>
        </div>
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
            <div class="card-header">Random genres</div>
            <div class="card-body" >
                <p class="card-text" th:each="genre:${genres}" th:text="${genre.getGenreName()}"></p>
            </div>
        </div>
    </div>
</div>

</body>
</html>