<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/search.css}">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<div>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/}">youTrack</a>
    </nav>
    <div class="container view-container" >
        <div th:if="${success}">
            <h4 th:text="${'Showing search results for ' + searchterm}"></h4>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Track</th>
                    <th scope="col">Artist</th>
                    <th scope="col">Album</th>
                    <th scope="col">Genre</th>
                </tr>
                </thead>
                <tbody>
                <tr scope="row" th:each="result:${results}">
                    <td th:text="${result.getTrackName()}"></td>
                    <td th:text="${result.getArtist()}"></td>
                    <td th:text="${result.getAlbum()}"></td>
                    <td th:text="${result.getGenre()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${success} == false">
            <h4 th:text="${'No search results for ' + searchterm}"></h4>
        </div>

    </div>
</div>
</body>
</html>